<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Beer:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Beer</h1>

    <f:flashMessages />

    <table class="tx_biereff">
        <tr>
            <th><f:translate key="tx_biereff_domain_model_beer.name" /></th>
            <th><f:translate key="tx_biereff_domain_model_beer.image" /></th>
            <th><f:translate key="tx_biereff_domain_model_beer.taste" /></th>
            <th><f:translate key="tx_biereff_domain_model_beer.description" /></th>
            <th><f:translate key="tx_biereff_domain_model_beer.degree" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{beers}" as="beer">
            <tr>
                <td><f:link.action action="show" arguments="{beer : beer}">{beer.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{beer : beer}">{beer.image.originalResource.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{beer : beer}">{beer.taste}</f:link.action></td>
                <td><f:link.action action="show" arguments="{beer : beer}">{beer.description}</f:link.action></td>
                <td><f:link.action action="show" arguments="{beer : beer}">{beer.degree}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{beer : beer}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{beer : beer}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Beer</f:link.action>
</f:section>
</html>
