<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-biere-ff" >
	<tr>
		<td><f:translate key="tx_biereff_domain_model_beer.name" /></td>
		<td>{beer.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_biereff_domain_model_beer.image" /></td>
		<td>{beer.image.originalResource.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_biereff_domain_model_beer.taste" /></td>
		<td>{beer.taste}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_biereff_domain_model_beer.description" /></td>
		<td>{beer.description}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_biereff_domain_model_beer.degree" /></td>
		<td>{beer.degree}</td>
	</tr>
</table>
</html>